mat-card{
    max-width:80%;
    margin:2em auto;
}

.custom-card {
  background-color: #FFFFFF; /* Substitua pela cor desejada */
  color: #0000FF; /* Substitua pela cor do texto desejada */
  font-weight: bolder;
  font-size: 14px;
 }

 .loading-spinner{
  padding: 25px;
  background:rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
 }
