.coluna-200{
  width: 200%;
}
.coluna-100{
  width: 100%;
}
.coluna-50{
  width: 50%;
}
.min-width{
  width: 100%;
  min-width: 150px;
}

mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.centered-actions {
  text-align: right;
}
